<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CheatDetectionServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.CheatDetectionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AttemptFilterServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.AttemptFilterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AttemptViewServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.AttemptViewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateClassroomServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.CreateClassroomServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClassroomListServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.ClassroomListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LiveStreamServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.LiveStreamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LiveFilterServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.LiveFilterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCheatServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.AddCheatServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.UsersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditClassroomServlet</servlet-name>
		<servlet-class>com.sever.diploma.servlets.EditClassroomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheatDetectionServlet</servlet-name>
		<url-pattern>/cheatDetection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttemptFilterServlet</servlet-name>
		<url-pattern>/attemptFilter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AttemptViewServlet</servlet-name>
		<url-pattern>/attemptView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateClassroomServlet</servlet-name>
		<url-pattern>/createClassroom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassroomListServlet</servlet-name>
		<url-pattern>/classroomList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LiveStreamServlet</servlet-name>
		<url-pattern>/liveStream</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LiveFilterServlet</servlet-name>
		<url-pattern>/liveFilter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCheatServlet</servlet-name>
		<url-pattern>/addCheat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditClassroomServlet</servlet-name>
		<url-pattern>/editClassroom</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
